{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenEduKG</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/opensansweb/opensans-style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/perfect-scrollbar.min.css' %}">
    {% block css %}
    {% endblock %}
    <script>
        var urls = {
            searchResult: "{% url 'ntc:search_result' 0 %}",
            getResult: "{% url 'ntc:get_result' 0 %}",
            schoolGeoData: "{% url 'geo:school-data' %}",
            schoolChartData: "{% url 'schools:get-info' 0 %}",
            schoolSearchUrl: "{% url 'schools:search' %}",
            districts: "{% url 'geo:districts' %}",
            topSchoolsUrl: "{% url 'ntc:top_schools' %}"
        };
    </script>
</head>
<body>
<div class="header">
    <div class="container overflow-hidden">
        <div class="logo">
            <h1><a href="#">OpenEdu<strong>KG</strong></a></h1>

            <div class="logo-line"></div>
            <p class="descr-logo">
                Открытые данные общеобразовательных учреждений
            </p>
        </div>
        <div class="main-menu">
            <span><a href="#search-school">{% trans 'Search' %}</a></span>
            <span><a href="#map">{% trans 'Schools by region' %}</a></span>
            <span><a href="#best-schools">{% trans 'Best schools' %}</a></span>
            <span><a href="#check-result">{% trans 'Check result' %}</a></span>
            <span><a id="about-project" href="#">{% trans 'About project' %}</a></span>
        </div>
    </div>
</div>
{% block content %}
{% endblock %}
<footer>
    <div class="container">
        <div class="copyright">
            <p>Проект «OpenEduKG» разработан во время Центрально-азиатского Xакатона по открытым данным —2015,
                организованного
                <a href="http://it-attractor.com" target="_blank">ОФ «ИТ Аттрактор»</a> и <a href="http://soros.kg" target="_blank">фондом «Сорос-Кыргызстан»</a></p>
            <img src="{% static 'img/it-a-icon.png' %}" alt=""><img src="{% static 'img/soros-icon.png' %}" alt="">
        </div>
        <div class="f-date"><span>2015</span></div>
    </div>
</footer>

</body>
<script src="{% static 'js/jquery-1.11.3.js' %}"></script>
<script src="{% static 'js/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'js/result-controller.js' %}"></script>
<script src="{% static 'js/school-geo.js' %}"></script>
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/chart-drawer.js' %}"></script>
<script src="{% static 'js/top-schools.js' %}"></script>
<script>
    $(document).ready(function () {
        var resultController = new ResultController();
        resultController.searchResultsUrl = urls.searchResult;
        resultController.getResultUrl = urls.getResult;
        resultController.popupContainer = $(".popup-person");
        resultController.searchResultsContainer = $(".pupil-list");
        resultController.init();

        var schoolGeo = new SchoolGeo();
        schoolGeo.url = urls.schoolGeoData;
        schoolGeo.mapLegendContainer = $(".map-legend");
        schoolGeo.init();

        var chartDrawer = new ChartDrawer();
        chartDrawer.popupContainer = $(".popup-school");
        chartDrawer.urlPattern = urls.schoolChartData;
        chartDrawer.initLinks();
        chartDrawer.initCloseButton();

        var topSchools = new TopSchools();
        topSchools.container = $(".block-table-best-school");
        topSchools.getDistrictsUrl = urls.districts;
        topSchools.topSchoolsUrl = urls.topSchoolsUrl;
        topSchools.chartDrawer = chartDrawer;
        topSchools.init();

        $("#about-project").on("click", function() {
            $.ajax({
                url: '/pages/about/',
                type: 'get',
                success: function(data) {
                    $(".popup-person").html(data);
                    $(".popup-person").addClass('active');
                }
            })
        });
    });

</script>
{% block js %}
{% endblock %}
</html>