{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenBilim</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/opensansweb/opensans-style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/perfect-scrollbar.min.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'favicon.ico' %}">
    {% block css %}
    {% endblock %}
    <script>
        var urls = {
            searchResult: "{% url 'ntc:search_result' 0 %}",
            getResult: "{% url 'ntc:get_result' 0 %}",
            schoolGeoData: "{% url 'geo:school-data' %}",
            schoolChartData: "{% url 'schools:get-info' 0 %}",
            schoolSearchUrl: "{% url 'schools:search' %}",
            districts: "{% url 'geo:districts' %}",
            topSchoolsUrl: "{% url 'ntc:top_schools' %}"
        };
    </script>
</head>
<body>
<div class="header">
    <div class="container overflow-hidden">
        <div class="logo">
            <h1><a href="#">Open<strong>Bilim</strong></a></h1>

            <div class="logo-line"></div>
            <p class="descr-logo">
                Открытые данные общеобразовательных учреждений
            </p>
        </div>
        <div class="main-menu">
            <span><a id="about-project" href="#about">{% trans 'About project' %}</a></span>
            <span><a href="#" data-scroll-nav="0">{% trans 'Search' %}</a></span>
            <span><a href="#" data-scroll-nav="1">{% trans 'Best schools' %}</a></span>
            <span><a href="#" data-scroll-nav="2">{% trans 'Check result' %}</a></span>
        </div>
    </div>
</div>
{% block content %}
{% endblock %}
<footer>
    <div class="container">
        <div class="copyright">
            <p>Проект «OpenBilim» разработан во время Центрально-азиатского Xакатона по открытым данным —2015,
                организованного
                <a href="http://it-attractor.com" target="_blank">ОФ «ИТ Аттрактор»</a> и <a href="http://soros.kg"
                                                                                             target="_blank">фондом
                    «Сорос-Кыргызстан»</a></p>
            <img src="{% static 'img/it-a-icon.png' %}" alt=""><img src="{% static 'img/soros-icon.png' %}" alt="">
        </div>
        <div class="f-date"><span>2015</span></div>
    </div>
</footer>

</body>
<script src="{% static 'js/jquery-1.11.3.js' %}"></script>
<script src="{% static 'js/scrollIt.min.js' %}"></script>
<script src="{% static 'js/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'js/result-controller.js' %}"></script>
<script src="{% static 'js/school-geo.js' %}"></script>
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/chart-drawer.js' %}"></script>
<script src="{% static 'js/top-schools.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% block js %}
{% endblock %}
</html>