{% extends 'base.html' %}
{% load staticfiles i18n %}
{% block content %}
    <section class="search-school">
        <div class="container">
            <div class="input-search-block">
                <div class="input-search">
                    <input type="text" placeholder="{% trans 'School title' %}" name="title">

                    <div class="search-btn">
                        <button type="submit">{% trans 'Search' %}</button>
                    </div>
                </div>
                <p class="exmpl">{% trans 'Example' %}:<span> {% trans 'Gymnasium-complex #70' %}</span></p>
            </div>
        </div>
    </section>
    <section class="sect-school-list">
        <div class="container hidden" data-content="search-block">
            <div class="city-filter">
                <div class="checkbox-group-mp">
                    <ul class="check-list-ul-mp">
                        {% for region in regions %}
                            <li class="check-list-li-mp">
                                <input type="checkbox" id="region-{{ region.pk }}" name="regions" value="{{ region.pk }}">
                                <label for="region-{{ region.pk }}">
                                    <span>
                                    <i class="fa fa-square-o"></i>
                                    <i class="fa fa-check-square"></i>
                                    </span>
                                </label><span class="region-label">{{ region.title }}</span>

                                <ul class="check-list-ul-mp ul2 hidden" data-content="districts">
                                    {% for district in region.district_set.all %}
                                        <li class="check-list-li-mp">
                                            <input type="checkbox" data-region-id="{{ region.pk }}" id="district-{{ district.pk }}" name="districts" value="{{ district.pk }}">
                                            <label for="district-{{ district.pk }}">
							                <span>
	                                            <i class="fa fa-square-o"></i>
                                                <i class="fa fa-check-square"></i>
	                                        </span>{{ district.title }}
                                            </label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div data-content="schools" class="block-school-list"></div>
        </div>
    </section>
    <section class="sect-map">
        <div class="block-map overflow-hidden">
            <h2>50 145 учеников из 11 371 школы</h2>
            <a href="#">прошли тестирование в НЦТ в 2015 году.</a>
            {% include 'map.html' %}
            <div class="map-legend">
                <div class="map-leg-head">
                    <h3>521 школа</h3>
                    <span class="map-distr">в Нарынской области</span>
                    <span>~4,57%</span>
                </div>

                <span>от общего количества школ</span>

                <div class="meter">
                    <span style="width: 4.57%"></span>
                </div>
            </div>
        </div>
    </section>
    <section class="sect-best-schools">
        <div class="best-sch-border-top">
            <i class="fa fa-trophy"></i>
        </div>
        <div class="container">

            <div class="b-s-headline">
                <h2>Лучшие школы</h2>
            </div>
            <div class="block-scores-filter">
                <div class="city s-filter">
                    <p>Выберите регион</p>

                    <div class="select-box">
                        <span>qwerty</span>

                        <div class="s-angle">
                            <span><i class="fa fa-angle-down"></i></span>
                        </div>
                    </div>
                    <div class="s-dropdown">
                        <ul>
                            <li>qwerty</li>
                            <li>qwerty</li>
                            <li>qwerty</li>
                            <li>qwerty</li>
                        </ul>
                    </div>

                </div>
                <div class="district s-filter">
                    <div class="select-box">
                        <span>qazwsx</span>

                        <div class="s-angle">
                            <span><i class="fa fa-angle-down"></i></span>
                        </div>
                    </div>

                    <div class="s-dropdown">
                        <ul>
                            <li>qazwsx</li>
                            <li>qazwsx</li>
                            <li>qazwsx</li>
                            <li>qazwsx</li>
                        </ul>
                    </div>

                </div>
                <div class="object s-filter">
                    <p>Выберите предмет</p>

                    <div class="select-box">
                        <span>wsxqaz</span>

                        <div class="s-angle">
                            <span><i class="fa fa-angle-down"></i></span>
                        </div>
                    </div>
                    <div class="s-dropdown">
                        <ul>
                            <li>wsxqaz</li>
                            <li>wsxqaz</li>
                            <li>wsxqaz</li>
                            <li>wsxqaz</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="block-table-best-school">
                <table>
                    <tr>
                        <th>Место</th>
                        <th>Школа</th>
                        <th>Средний балл</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a href="#">Учебный комплекс,
                            авторская физико-математическая школа-лицей №61</a>
                        </td>
                        <td>23.0000</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="#">Средняя общеобразовательная школа - лицей №75</a></td>
                        <td>20.0000</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><a href="#">Гимназия-комплекс №70</a></td>
                        <td>19.6667</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><a href="#">Средняя общеобразовательная школа - лицей №75</a></td>
                        <td>20.0000</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><a href="#">Гимназия-комплекс №70</a></td>
                        <td>19.6667</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td><a href="#">Учебный комплекс,
                            авторская физико-математическаяшкола-лицей №61</a></td>
                        <td>19.6667</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td><a href="#">Гимназия-комплекс №70</a></td>
                        <td>19.6667</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td><a href="#">Гимназия-комплекс №70</a></td>
                        <td>19.6667</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td><a href="#">Гимназия-комплекс №70</a></td>
                        <td>19.6667</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td><a href="#">Гимназия-комплекс №70</a></td>
                        <td>19.6667</td>
                    </tr>
                </table>
            </div>

        </div>
    </section>
    <section class="sect-check-result">
        <div class="check-result-border-top">
            <i class="fa fa-check-circle"></i>
        </div>
        <div class="container">
            <h2>Проверить результат</h2>

            <div class="input-search-block">
                <div class="input-search">
                    <form id="search-result-form">
                        <input type="text" placeholder="Фамилия Имя">

                        <div class="search-btn">
                            <button type="submit">Найти</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="pupil-list">

            </div>
            <div class="popup-person"></div>
        </div>
    </section>
{% endblock %}
{% block js %}
    <script src="{% static 'js/school-searcher.js' %}"></script>
    <script>


        var schoolSearcher = new SchoolSearcher({
            searchUrl: urls.schoolSearchUrl,
            searchBlockContainer: $('[data-content="search-block"]'),
            schoolsContainer: $('[data-content="schools"]'),
            titleInput: $('input[name="title"]'),
            regionsInputs: $('input[name="regions"]'),
            districtsInputs: $('input[name="districts"]'),
            paginationLinkSelector: '[data-action="pagination"]'
        }).init();

        $('.region-label').click(function () {
            $(this).siblings('[data-content="districts"]').toggle();
        });
    </script>
{% endblock %}