{% extends 'base.html' %}
{% block content %}
    <section class="search-school">
        <div class="container">
            <div class="input-search-block">
                <div class="input-search">
                    <input type="text" placeholder="Номер школы">

                    <div class="search-btn">
                        <button type="submit">Найти</button>
                    </div>
                </div>
                <p class="exmpl">Например,<span> Гимназия-комплекс № 70</span></p>
            </div>
        </div>
    </section>
    <section class="sect-school-list">
        <div class="container">
            <div class="city-filter">
                <div class="checkbox-group-mp">
                    <ul class="check-list-ul-mp">
                        <li class="check-list-li-mp">
                            <input type="checkbox" id="bish">
                            <label for="bish">
				 	<span>
	                    <i class="fa fa-square-o"></i></i>
                        <i class="fa fa-check-square"></i>
	                </span>г. Бишкек
                            </label>
                            <ul class="check-list-ul-mp ul2">
                                <li class="check-list-li-mp"><input type="checkbox" id="len-d">
                                    <label for="len-d">
							<span>
	                            <i class="fa fa-square-o"></i></i>
                                <i class="fa fa-check-square"></i>
	                        </span>Ленинский район
                                    </label>
                                </li>
                                <li class="check-list-li-mp"><input type="checkbox" id="okt-d">
                                    <label for="okt-d">
							<span>
	                            <i class="fa fa-square-o"></i></i>
                                <i class="fa fa-check-square"></i>
	                        </span>Октябрьский район
                                    </label>
                                </li>
                                <li class="check-list-li-mp"><input type="checkbox" id="per-d">
                                    <label for="per-d">
							<span>
	                           <i class="fa fa-square-o"></i></i>
                                <i class="fa fa-check-square"></i>
	                        </span>Первомайский район
                                    </label>
                                </li>
                                <li class="check-list-li-mp"><input type="checkbox" id="sver-d">
                                    <label for="sver-d">
							<span>
	                            <i class="fa fa-square-o"></i></i>
                                <i class="fa fa-check-square"></i>
	                        </span>Свердловский район
                                    </label>
                                </li>
                            </ul>
                        </li>
                        <li class="check-list-li-mp"><input type="checkbox" id="osh">
                            <label for="osh">
					<span>
	                    <i class="fa fa-square-o"></i></i>
                        <i class="fa fa-check-square"></i>
	                </span>г. Ош
                            </label>
                        </li>
                        <li class="check-list-li-mp"><input type="checkbox" id="batk">
                            <label for="batk">
					<span>
	                    <i class="fa fa-square-o"></i></i>
                        <i class="fa fa-check-square"></i>
	                </span>Баткенская область
                            </label>
                        </li>
                        <li class="check-list-li-mp"><input type="checkbox" id="jalab">
                            <label for="jalab">
					<span>
	                    <i class="fa fa-square-o"></i></i>
                        <i class="fa fa-check-square"></i>
	                </span>Джалал-Абадская область
                            </label>
                        </li>
                        <li class="check-list-li-mp"><input type="checkbox" id="ik">
                            <label for="ik">
					<span>
	                    <i class="fa fa-square-o"></i></i>
                        <i class="fa fa-check-square"></i>
	                </span>Иссык-Кульская область
                            </label>
                        </li>
                        <li class="check-list-li-mp"><input type="checkbox" id="naryn">
                            <label for="naryn">
					<span>
	                    <i class="fa fa-square-o"></i></i>
                        <i class="fa fa-check-square"></i>
	                </span>Нарынская область
                            </label>
                        </li>
                        <li class="check-list-li-mp"><input type="checkbox" id="osh-obl">
                            <label for="osh-obl">
					<span>
	                    <i class="fa fa-square-o"></i></i>
                        <i class="fa fa-check-square"></i>
	                </span>Ошская область
                            </label>
                        </li>
                        <li class="check-list-li-mp"><input type="checkbox" id="tal-obl">
                            <label for="tal-obl">
					<span>
	                    <i class="fa fa-square-o"></i></i>
                        <i class="fa fa-check-square"></i>
	                </span>Таласская область
                            </label>
                        </li>
                        <li class="check-list-li-mp"><input type="checkbox" id="chui-obl">
                            <label for="chui-obl">
					<span>
	                    <i class="fa fa-square-o"></i></i>
                        <i class="fa fa-check-square"></i>
	                </span>Чуйская область
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="block-school-list">
                <ul>
                    <li>
                        <p><a href="#" class="school-name">Школа-комплек с лицей №13</a></p>
                        <span class="school-adr">г. Бишкек, Ленинский район, Московская, 174</span>

                        <div class="popup-school">
                            <div class="popup-overlay"></div>
                            <div class="popup-sch-inner">
                                <h3>Гимназия-комплекс №70</h3>
                            <span><i class="fa fa-map-marker"></i>
                                г. Бишкек, Первомайский район, ул. Боконбаева, 153        <i class="fa fa-phone"></i> (+996 312) 31-58-92</span>

                                <p>Средние результаты НЦТ по школе:</p>
                                <span>(сдавало 102 ученика)</span>
                                <canvas width="850p" height="300"></canvas>
                                <div class="canvas-legend">
                                    <div class="canv-orange"></div>
                                    <span>Средний балл по школе</span>

                                    <div class="canv-gray"></div>
                                    <span>Средний балл по стране</span>
                                </div>
                                <div class="popup-close"></div>
                            </div>
                        </div>


                    </li>
                    <li>
                        <p><a href="#" class="school-name">Средняя общеобразовательная школа №13 им. Д. Осмоналиева</a>
                        </p>
                        <span class="school-adr">Джалал-Абадская область, Алабукинский район</span>
                    </li>
                    <li>
                        <p><a href="#" class="school-name">Средняя общеобразовательная школа №13 Элебаев</a></p>
                        <span class="school-adr">Джалал-Абадская область, Базар-Коргонский район</span>
                    </li>
                    <li>
                        <p><a href="#" class="school-name">Средняя общеобразовательная школа №13</a></p>
                        <span class="school-adr">Джалал-Абадская область, Ноокенский район, уч. Шалка</span>
                    </li>
                    <li>
                        <p><a href="#" class="school-name">Средняя общеобразовательная школа №13 Элебаев</a></p>
                        <span class="school-adr">Джалал-Абадская область, Ноокенский район, уч. Шалка</span>
                    </li>
                    <li>
                        <p><a href="#" class="school-name">Средняя общеобразовательная школа №13 Элебаев</a></p>
                        <span class="school-adr">Джалал-Абадская область, Ноокенский район, уч. Шалка</span>
                    </li>
                    <li>
                        <p><a href="#" class="school-name">Средняя общеобразовательная школа №13 Элебаев</a></p>
                        <span class="school-adr">Джалал-Абадская область, Ноокенский район, уч. Шалка</span>
                    </li>
                    <li>
                        <p><a href="#" class="school-name">Средняя общеобразовательная школа №13 Элебаев</a></p>
                        <span class="school-adr">Джалал-Абадская область, Ноокенский район, уч. Шалка</span>
                    </li>
                    <li>
                        <p><a href="#" class="school-name">Средняя общеобразовательная школа №13 Элебаев</a></p>
                        <span class="school-adr">Джалал-Абадская область, Ноокенский район, уч. Шалка</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="sect-map">
        <div class="block-map overflow-hidden">
            <h2>50 145 учеников из 11 371 школы</h2>
            <a href="#">прошли тестирование в НЦТ в 2015 году.</a>
            {% include 'map.html' %}
            <div class="map-legend">
                <div class="map-leg-head">
                    <h3>521 школа</h3>
                    <span class="map-distr">в Нарынской области</span>
                    <span>~4,57%</span>
                </div>

                <span>от общего количества школ</span>

                <div class="meter">
                    <span style="width: 4.57%"></span>
                </div>
            </div>
        </div>
    </section>
    <section class="sect-best-schools">
        <div class="best-sch-border-top">
            <i class="fa fa-trophy"></i>
        </div>
        <div class="container">

            <div class="b-s-headline">
                <h2>Лучшие школы</h2>
            </div>
            <div class="block-scores-filter">
                <div class="city s-filter">
                    <p>Выберите регион</p>

                    <div class="select-box">
                        <span>qwerty</span>

                        <div class="s-angle">
                            <span><i class="fa fa-angle-down"></i></span>
                        </div>
                    </div>
                    <div class="s-dropdown">
                        <ul>
                            <li>qwerty</li>
                            <li>qwerty</li>
                            <li>qwerty</li>
                            <li>qwerty</li>
                        </ul>
                    </div>

                </div>
                <div class="district s-filter">
                    <div class="select-box">
                        <span>qazwsx</span>

                        <div class="s-angle">
                            <span><i class="fa fa-angle-down"></i></span>
                        </div>
                    </div>

                    <div class="s-dropdown">
                        <ul>
                            <li>qazwsx</li>
                            <li>qazwsx</li>
                            <li>qazwsx</li>
                            <li>qazwsx</li>
                        </ul>
                    </div>

                </div>
                <div class="object s-filter">
                    <p>Выберите предмет</p>

                    <div class="select-box">
                        <span>wsxqaz</span>

                        <div class="s-angle">
                            <span><i class="fa fa-angle-down"></i></span>
                        </div>
                    </div>
                    <div class="s-dropdown">
                        <ul>
                            <li>wsxqaz</li>
                            <li>wsxqaz</li>
                            <li>wsxqaz</li>
                            <li>wsxqaz</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="block-table-best-school">
                <table>
                    <tr>
                        <th>Место</th>
                        <th>Школа</th>
                        <th>Средний балл</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a href="#">Учебный комплекс,
                            авторская физико-математическая школа-лицей №61</a>
                        </td>
                        <td>23.0000</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="#">Средняя общеобразовательная школа - лицей №75</a></td>
                        <td>20.0000</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><a href="#">Гимназия-комплекс №70</a></td>
                        <td>19.6667</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><a href="#">Средняя общеобразовательная школа - лицей №75</a></td>
                        <td>20.0000</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td><a href="#">Гимназия-комплекс №70</a></td>
                        <td>19.6667</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td><a href="#">Учебный комплекс,
                            авторская физико-математическаяшкола-лицей №61</a></td>
                        <td>19.6667</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td><a href="#">Гимназия-комплекс №70</a></td>
                        <td>19.6667</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td><a href="#">Гимназия-комплекс №70</a></td>
                        <td>19.6667</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td><a href="#">Гимназия-комплекс №70</a></td>
                        <td>19.6667</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td><a href="#">Гимназия-комплекс №70</a></td>
                        <td>19.6667</td>
                    </tr>
                </table>
            </div>

        </div>
    </section>
    <section class="sect-check-result">
        <div class="check-result-border-top">
            <i class="fa fa-check-circle"></i>
        </div>
        <div class="container">
            <h2>Проверить результат</h2>

            <div class="input-search-block">
                <div class="input-search">
                    <form id="search-result-form">
                        <input type="text" placeholder="Фамилия Имя">

                        <div class="search-btn">
                            <button type="submit">Найти</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="pupil-list">

            </div>
            <div class="popup-person"></div>
        </div>
    </section>
{% endblock %}