html, body {
  font-family: 'open_sansregular';
  background: #fcf9f3;
  margin: 0;
  min-width: 1000px;
  height: 100%;
  padding: 0; }
  html h1, body h1 {
    font-weight: normal; }
  html a, body a {
    text-decoration: none;
    border-bottom: 1px solid #000; }
    html a:hover, body a:hover {
      border: none !important; }
  html ul, body ul {
    list-style-type: none; }
  html i, body i {
    padding: 0 5px; }
  html table, body table {
    border-collapse: collapse;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    margin: 0 auto; }
    html table tr:nth-child(2n), body table tr:nth-child(2n) {
      background: #fcf3e6; }
    html table tr th, body table tr th {
      background: #fedfba;
      border: 0;
      font-size: 14px;
      line-height: 34px;
      font-family: 'open_sansregular';
      font-weight: 400;
      padding: 9px 0px 9px 16px; }
    html table tr td, body table tr td {
      padding: 9px 16px;
      box-sizing: border-box; }
      html table tr td:nth-child(2n), body table tr td:nth-child(2n) {
        width: 550px;
        padding-right: 50px; }
      html table tr td a, body table tr td a {
        color: #0a5798;
        border-bottom: 1px solid #0a5798; }
  html path, body path {
    fill: #ff9d29;
    opacity: 0.3; }
    html path:hover, body path:hover {
      /*fill: #000000;*/
      opacity: 1; }

.container {
  min-width: 700px;
  max-width: 940px;
  margin: 0 auto; }

.overflow-hidden {
  overflow: hidden;
  position: relative; }

.header {
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  min-width: 100%;
  border-bottom: 1px solid #ffe1be; }
  .header .logo {
    width: 410px;
    display: inline-block;
    margin-bottom: 5px; }
    .header .logo h1 {
      display: inline-block; }
      .header .logo h1 a {
        font-family: 'open_sansregular';
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #ff9d29;
        vertical-align: top;
        border: 0; }
        .header .logo h1 a strong {
          vertical-align: top; }
    .header .logo .logo-line {
      width: 1px;
      height: 80px;
      background: #fedfba;
      display: inline-block;
      vertical-align: bottom;
      -ms-transform: rotate(30deg);
      /* IE 9 */
      -webkit-transform: rotate(30deg);
      /* Chrome, Safari, Opera */
      transform: rotate(30deg); }
    .header .logo .descr-logo {
      font-size: 14px;
      line-height: 18px;
      display: inline-block;
      width: 253px;
      vertical-align: text-top;
      margin-top: 2px;
      margin-left: 10px; }
  .header .main-menu {
    display: inline-block;
    position: absolute;
    top: 35px;
    right: -6px; }
    .header .main-menu span a {
      font-size: 14px;
      line-height: 18px;
      color: #000000;
      margin: 0 5px; }
      .header .main-menu span a:hover {
        border: 0; }
    .header .main-menu span .m-active {
      color: #ff9d29;
      border-bottom: none;
      font-family: 'open_sansbold'; }

footer {
  background: #302d2b;
  border-top: 1px solid #ff9d29; }
  footer .copyright {
    width: 700px;
    display: inline-block;
    padding-top: 9px;
    padding-bottom: 40px; }
    footer .copyright p {
      font-size: 14px;
      line-height: 21px;
      color: #8d8a85;
      margin-left: -3px;
      margin-bottom: 10px; }
      footer .copyright p a {
        color: #ff9d29;
        border-bottom: 1px solid #ff9d29; }
    footer .copyright img {
      margin-right: 40px; }
  footer .f-date {
    font-size: 14px;
    line-height: 24px;
    color: #8d8a85;
    display: inline-block;
    vertical-align: top;
    padding-top: 23px;
    padding-left: 93px; }

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #827669;
  z-index: 3;
  opacity: 0.5; }

.popup-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 22px;
  height: 23px;
  background: url("../img/close-icon.png") 0 0 no-repeat;
  cursor: pointer; }

.popup-sch-inner, .popup-pers-inner {
  width: 900px;
  background: #ffffff;
  margin-left: -480px;
  position: fixed;
  top: 50%;
  left: 50%;
  bottom: 20px;
  z-index: 1005;
  opacity: 1 !important;
  padding: 27px 10px 50px 33px;
  -webkit-box-shadow: 0px 40px 80px 0px rgba(148, 108, 61, 0.51);
  -moz-box-shadow: 0px 40px 80px 0px rgba(148, 108, 61, 0.51);
  box-shadow: 0px 40px 80px 0px rgba(148, 108, 61, 0.51);
  margin-top: -275px; }
  .popup-sch-inner span, .popup-pers-inner span {
    font-size: 16px !important; }

.popup-school {
  display: none; }
  .popup-school.active {
    display: block; }
  .popup-school .popup-sch-inner {
    height: 480px; }
    .popup-school .popup-sch-inner h3 {
      margin-bottom: 0;
      font-size: 24px;
      line-height: 34px;
      font-family: 'open_sansregular';
      font-weight: 400;
      margin-bottom: 0;
      margin-top: 0; }
    .popup-school .popup-sch-inner span {
      color: #666; }
    .popup-school .popup-sch-inner p {
      margin-top: 28px;
      margin-bottom: -1px; }
    .popup-school .popup-sch-inner canvas {
      margin: 9px 0; }
    .popup-school .popup-sch-inner .canvas-legend {
      text-align: center; }
      .popup-school .popup-sch-inner .canvas-legend span {
        padding-right: 20px; }
      .popup-school .popup-sch-inner .canvas-legend .canv-orange, .popup-school .popup-sch-inner .canvas-legend .canv-gray {
        width: 16px;
        height: 16px;
        display: inline-block; }
      .popup-school .popup-sch-inner .canvas-legend .canv-orange {
        background: #ff9d29; }
      .popup-school .popup-sch-inner .canvas-legend .canv-gray {
        background: #6b6b6b; }

.popup-person {
  display: none; }
  .popup-person.active {
    display: block; }
  .popup-person .popup-pers-inner {
    height: 500px; }
    .popup-person .popup-pers-inner h3 {
      font-size: 24px;
      line-height: 34px;
      font-family: 'open_sansregular';
      font-weight: 400;
      margin-bottom: 0;
      margin-top: 0; }
    .popup-person .popup-pers-inner p {
      margin-bottom: 31px; }
    .popup-person .popup-pers-inner span {
      font-size: 16px !important;
      line-height: 26px !important;
      padding-right: 200px !important;
      color: #666; }
    .popup-person .popup-pers-inner table {
      width: 780px;
      margin-left: 50px; }
      .popup-person .popup-pers-inner table th:first-child, .popup-person .popup-pers-inner table td:first-child {
        width: 69%; }
      .popup-person .popup-pers-inner table th, .popup-person .popup-pers-inner table td {
        padding: 9px 0 1px 20px;
        font-size: 14px;
        line-height: 34px; }

.input-search-block {
  padding-top: 50px;
  display: inline-block;
  margin: 0 17%; }
  .input-search-block .input-search {
    width: 620px;
    border-top: 2px solid #ff9d29;
    border-right: none;
    border-bottom: 2px solid #ff9d29;
    border-left: 2px solid #ff9d29;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 12px 5px;
    background: #ffffff;
    -webkit-box-shadow: inset 7px 7px 10px 0px rgba(89, 56, 16, 0.08);
    -moz-box-shadow: inset 7px 7px 10px 0px rgba(89, 56, 16, 0.08);
    box-shadow: inset 7px 7px 10px 0px rgba(89, 56, 16, 0.08);
    position: relative;
    overflow: hidden;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    .input-search-block .input-search input {
      border: 0;
      outline: none;
      width: 75%;
      margin-left: 15px;
      line-height: 24px;
      font-size: 24px;
      background: transparent; }
    .input-search-block .input-search ::-webkit-input-placeholder {
      color: #cacaca;
      font-family: 'open_sansregular'; }
    .input-search-block .input-search ::-moz-placeholder {
      color: #cacaca;
      font-family: 'open_sansregular'; }
    .input-search-block .input-search :-moz-placeholder {
      color: #cacaca;
      font-family: 'open_sansregular'; }
    .input-search-block .input-search :-ms-input-placeholder {
      color: #cacaca;
      font-family: 'open_sansregular'; }
    .input-search-block .input-search .search-btn {
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      background: #ff9d29;
      -webkit-border-top-right-radius: 100px;
      -webkit-border-bottom-right-radius: 100px;
      -moz-border-radius-topright: 100px;
      -moz-border-radius-bottomright: 100px;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      cursor: pointer; }
      .input-search-block .input-search .search-btn::before {
        content: "";
        position: absolute;
        top: 0px;
        left: -19px;
        width: 40px;
        height: 55px;
        background: #ff9d29;
        transform: skew(-35deg, 0deg);
        -webkit-transform: skew(-35deg, 0deg);
        -moz-transform: skew(-35deg, 0deg);
        -o-transform: skew(-35deg, 0deg);
        -ms-transform: skew(-35deg, 0deg); }
      .input-search-block .input-search .search-btn button {
        background: transparent;
        border: 0;
        outline: none;
        font-size: 18px;
        line-height: 24px;
        font-family: 'open_sansbold';
        vertical-align: baseline;
        position: relative;
        top: 13px;
        left: -2px;
        padding: 0px 21px 0px 13px;
        cursor: pointer; }

.search-school {
  background: #fcf9f3 url("../img/top-bg1.png") 0 0 repeat;
  padding-bottom: 26px;
  margin-top: 95px; }
  .search-school .exmpl {
    font-size: 14px;
    line-height: 24px;
    font-family: 'open_sansitalic';
    margin: 2px 28px; }
    .search-school .exmpl span {
      border-bottom: 1px dashed #000000; }

.sect-school-list {
  background: #fcf9f3; }

.city-filter {
  width: 275px;
  display: inline-block; }
  .city-filter .check-list-ul-mp {
    list-style-type: none;
    padding-left: 10px; }
    .city-filter .check-list-ul-mp .check-list-li-mp {
      padding: 0 0; }
    .city-filter .check-list-ul-mp .ul2 {
      padding-left: 27px; }
    .city-filter .check-list-ul-mp input[type="checkbox"] {
      display: none; }
    .city-filter .check-list-ul-mp input[type="checkbox"] + label {
      font-size: 14px;
      line-height: 30px;
      font-family: 'open_sansregular', arial, sans-serif;
      padding-left: 2px;
      color: #000;
      cursor: pointer; }
    .city-filter .check-list-ul-mp input[type="checkbox"] + label .fa-check-square,
    .city-filter .check-list-ul-mp input[type="checkbox"] + label .fa-square-o {
      position: relative;
      left: -11px;
      bottom: -4px;
      font-size: 24px;
      color: #ff9d29;
      opacity: 0.3;
      text-shadow: 1px 1px 5px rgba(89, 56, 16, 0.15); }
    .city-filter .check-list-ul-mp input[type="checkbox"] + label .fa-check-square {
      display: none; }
    .city-filter .check-list-ul-mp input[type="checkbox"]:checked + label .fa-square-o {
      display: none; }
    .city-filter .check-list-ul-mp input[type="checkbox"]:checked + label .fa-check-square {
      display: inline-block;
      opacity: 1; }

.block-school-list {
  display: inline-block;
  vertical-align: top;
  width: 640px; }
  .block-school-list ul {
    margin-top: 0;
    padding-left: 21px; }
    .block-school-list ul li {
      list-style-type: none;
      border-bottom: 1px solid #fdddb6;
      padding-bottom: 5px;
      padding-top: 15px;
      padding-left: 20px; }
      .block-school-list ul li p {
        margin: 0 0 0px 0; }
        .block-school-list ul li p a {
          font-size: 16px;
          line-height: 24px;
          color: #0b5797;
          border-bottom: 1px solid #0b5797; }
      .block-school-list ul li span {
        font-size: 14px;
        line-height: 24px;
        color: #666; }

.sect-map {
  background: #fcf9f3; }

.block-map {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 50px;
  text-align: center; }
  .block-map h2 {
    font-size: 36px;
    line-height: 34px;
    margin-bottom: 8px; }
  .block-map a {
    font-size: 16px;
    line-height: 34px;
    color: #0b5797;
    border-bottom: 1px solid #0b5797; }
  .block-map .map-legend {
    width: 300px;
    position: absolute;
    bottom: 100px;
    right: 20px;
    text-align: left; }
    .block-map .map-legend h3 {
      font-size: 24px;
      line-height: 24px;
      font-family: 'open_sansregular';
      font-weight: 400;
      margin-bottom: 5px; }
    .block-map .map-legend .map-distr {
      margin-bottom: 10px; }
    .block-map .map-legend span {
      display: block; }
    .block-map .map-legend .meter {
      height: 10px;
      /* Can be anything */
      position: relative;
      background: #fdddb6; }
      .block-map .map-legend .meter:before {
        position: absolute;
        top: 8px;
        left: 1px;
        color: #666666; }
      .block-map .map-legend .meter:after {
        position: absolute;
        top: 8px;
        right: 1px;
        color: #666666; }
    .block-map .map-legend .meter > span {
      display: block;
      height: 100%;
      background: #ff9d29;
      position: relative;
      overflow: hidden; }

.sect-best-schools {
  border-top: 1px solid #ffe1be;
  position: relative;
  padding-bottom: 130px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #fcf9f3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fcf9f3));
  background: -webkit-linear-gradient(top, #ffffff 0%, #fcf9f3 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #fcf9f3 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #fcf9f3 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #fcf9f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fcf9f3', GradientType=0); }
  .sect-best-schools .best-sch-border-top {
    position: relative;
    top: -23px;
    left: 47%;
    font-size: 32px;
    padding: 0 20px;
    color: #ff9d29;
    display: inline-block;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcf9f3+0,fcf9f3+49,fcf9f3+49,ffffff+50,ffffff+100,ffffff+100 */
    background: #fcf9f3;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fcf9f3 0%, #fcf9f3 49%, #fcf9f3 49%, #ffffff 50%, #ffffff 100%, #ffffff 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcf9f3), color-stop(49%, #fcf9f3), color-stop(49%, #fcf9f3), color-stop(50%, #ffffff), color-stop(100%, #ffffff), color-stop(100%, #ffffff));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcf9f3 0%, #fcf9f3 49%, #fcf9f3 49%, #ffffff 50%, #ffffff 100%, #ffffff 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcf9f3 0%, #fcf9f3 49%, #fcf9f3 49%, #ffffff 50%, #ffffff 100%, #ffffff 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fcf9f3 0%, #fcf9f3 49%, #fcf9f3 49%, #ffffff 50%, #ffffff 100%, #ffffff 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #fcf9f3 0%, #fcf9f3 49%, #fcf9f3 49%, #ffffff 50%, #ffffff 100%, #ffffff 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcf9f3', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */ }
  .sect-best-schools .b-s-headline h2 {
    text-align: center;
    font-size: 36px;
    line-height: 34px;
    margin-top: -12px;
    margin-bottom: 12px; }
  .sect-best-schools .block-scores-filter {
    margin-left: -7px;
    margin-right: -7px; }
    .sect-best-schools .block-scores-filter .s-filter {
      width: 300px;
      display: inline-block;
      margin: 10px 7px 50px 7px;
      position: relative; }
      .sect-best-schools .block-scores-filter .s-filter.active .s-dropdown {
        display: block; }
      .sect-best-schools .block-scores-filter .s-filter p {
        font-size: 14px;
        line-height: 34px;
        margin: 13px 5px -3px 0px; }
      .sect-best-schools .block-scores-filter .s-filter .select-box {
        padding: 8px 0 9px 13px;
        position: relative;
        border: 1px solid #ff9d29;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: inset 1px 1px 5px 0px rgba(89, 56, 16, 0.15);
        -moz-box-shadow: inset 1px 1px 5px 0px rgba(89, 56, 16, 0.15);
        box-shadow: inset 1px 1px 5px 0px rgba(89, 56, 16, 0.15); }
        .sect-best-schools .block-scores-filter .s-filter .select-box .s-angle {
          position: absolute;
          top: 0;
          right: 0;
          background: #ff9d29;
          padding: 9px 5px 5px 7px;
          cursor: pointer; }
          .sect-best-schools .block-scores-filter .s-filter .select-box .s-angle::before {
            content: "";
            position: absolute;
            top: 0;
            left: -14px;
            width: 24px;
            height: 40px;
            background: #ff9d29;
            transform: skew(-29deg, 0deg);
            -webkit-transform: skew(-29deg, 0deg);
            -moz-transform: skew(-29deg, 0deg);
            -o-transform: skew(-29deg, 0deg);
            -ms-transform: skew(-29deg, 0deg); }
          .sect-best-schools .block-scores-filter .s-filter .select-box .s-angle span i {
            text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
            font-size: 24px;
            font-weight: 700; }
      .sect-best-schools .block-scores-filter .s-filter .s-dropdown {
        display: none;
        border: 1px solid #ff9d29;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        margin-top: 3px;
        background: #ffffff;
        position: absolute;
        width: 99%;
        max-height: 300px;
        overflow: hidden;
        z-index: 100; }
        .sect-best-schools .block-scores-filter .s-filter .s-dropdown ul {
          list-style-type: none;
          padding: 0;
          margin: 0 10px 10px 10px; }
          .sect-best-schools .block-scores-filter .s-filter .s-dropdown ul li {
            border-bottom: 1px solid #ffe1be;
            padding: 5px 0;
            font-size: 16px;
            line-height: 34px;
            color: #6b6b6b; }
            .sect-best-schools .block-scores-filter .s-filter .s-dropdown ul li:hover {
              color: #000000;
              border-bottom: 1px solid #ff9d29;
              cursor: pointer; }
            .sect-best-schools .block-scores-filter .s-filter .s-dropdown ul li:last-child {
              border-bottom: none; }

.block-table-best-school table {
  width: 817px; }
  .block-table-best-school table td {
    vertical-align: text-top; }

.sect-check-result {
  background: #fcf9f3;
  border-top: 1px solid #fdddb6; }
  .sect-check-result .check-result-border-top {
    position: relative;
    top: -25px;
    left: 47%;
    font-size: 35px;
    padding: 0 20px;
    color: #ff9d29;
    display: inline-block;
    background: #fcf9f3; }
  .sect-check-result h2 {
    font-size: 36px;
    line-height: 34px;
    font-weight: 400;
    margin-top: -14px;
    margin-bottom: -9px;
    text-align: center; }
  .sect-check-result .pupil-list {
    margin: 30px 50px 59px 61px; }
    .sect-check-result .pupil-list ul {
      margin: 0;
      padding: 0; }
      .sect-check-result .pupil-list ul li {
        border-bottom: 1px solid #ffe1be;
        padding: 11px 0 8px 15px; }
        .sect-check-result .pupil-list ul li a {
          font-size: 16px;
          line-height: 24px;
          color: #0a5798;
          border-bottom: 1px solid #0a5798; }
        .sect-check-result .pupil-list ul li span {
          font-size: 14px;
          line-height: 24px;
          color: #666666;
          display: block; }

.region-label {
  cursor: pointer; }

.hidden {
  display: none; }

/*# sourceMappingURL=style.css.map */
